* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.61), rgba(0, 0, 0, 0.61)), url("../img/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #180f35;
    width: 100%;
    height: 50px;
}

.header-wrapper {
    background-color: #180f35;
    border-bottom: 5px solid #8f1698;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-size: 25px;
}

.logo i {
    color: #8f1698;
    font-size: 25px;
    margin-left: 20px;
}

.search input:focus {
    outline: none;
}

.search i {
    color: #8f1698;
    margin-left: 20px;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nav-list li {
    color: #fff;
    list-style-type: none;
    font-size: 20px;
}

.nav-list i {
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    color: #8f1698;
    margin-right: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    height: 650px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.396);
}

.resiger_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(18, 17, 17, 0.597);
    width: 500px;
    height: 500px;
}

.resiger_block input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #8f1698;
    margin: 20px 20px;
    height: 50px;
    color: #fff;
}

.resiger_block input::placeholder {
    color: rgb(219, 212, 212);
}

.resiger_block input:focus {
    color: #8f1698;
}

.status-password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-password input {
    width: 20px;
    height: 20px;
}

.status-password label {
    color: #fff;
}

.register-link {
    border-bottom: 2px solid #8f1698;
    padding: 20px;
}

.question-link {
    text-align: center;
    color: #fff;
}

.login-link {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;

}

.register-link {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.register-none {
    display: none;
}


.block_hide {
    display: none;
}

/* #811b8d */

/* Singer info section */
#singer_info {
    min-width: 100vw;
    min-height: 82.4vh;
    background: rgba(0, 0, 0, 0.349);
}

.singer_about {
    display: flex;
    justify-content: center;
    align-items: center;

}

.music_about {
    height: 541px;
    width: 40%;
    border-right: 5px solid #8f1698;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mp3_content {
    width: 90%;
    height: 55%;
    border-bottom: 5px solid #8f1698;
    padding: 1rem;
    position: relative;
}

.mp3_ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mp3_ct_about {
    color: #fff;
    font-family: system-ui;
    margin: 5px;
}

.mp3_ct img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.mp3_btn {
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-family: system-ui;
}

.play_btn {
    background: #190f3b;
    color: #fff;
    transition: .2s;
    border: 1px solid #fff;
}

.play_btn:hover {
    color: #b311be;
    background: #180f35;
    transition: .2s;
    border: 1px solid #8f1698;
}

.mp3_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 440px;
}

.download_btn {
    background: #b311be;
    color: #fff;
    transition: .2s;
    border: 1px solid #fff;
    position: relative;
}

.download_btn:hover {
    color: #261461;
    background: #8f1698;
    transition: .2s;
    border: 1px solid #261461;
}

.music_album {
    width: 100%;
    height: 45%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.music_list {
    height: 541px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    overflow: hidden;
    width: 80%;
    display: flex;
    align-items: center;
}


.wrapper a img {
    width: 200px;
    height: 150px;
    margin: 0 5px 0 0;
    border: 2px solid #fff;
}

.wrapper_btn {
    position: absolute;
    top: 45%;
    left: 22px;
}

.wrapper_btn i {
    font-size: 35px;
    color: #8f1698;
    cursor: pointer;
}

.wrapper_btn i:last-child {
    position: absolute;
    right: -460px;
}



.music_list_ul {
    width: 95%;
    height: 0;
    border-bottom: 5px solid #b311be;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.music_list_ul ul {
    display: flex;
}

.music_list_ul ul li {
    margin: 0 30px;
    list-style: none;
}

.music_list_ul ul li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

.user_musics {
    height: 425px;
    width: 85%;
    padding: 10px 0;
}

.user_music_box {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #b311be;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.user_music_box:hover {
    background: rgba(0, 0, 0, 0.575);
}

.pause,
.play {
    color: #b311be;
    font-size: 35px;
    cursor: pointer;
}

.pause,
.play:hover {
    color: #fff;
}

.user_musics img {
    height: 45px;
    width: 45px;
}

.user_musics p {
    color: #fff;
    font-family: system-ui;
    margin: 0;
}

.user_music_box a {
    text-decoration: underline;
}


/* Singer info section end */


.music_control {
    width: 100%;
    height: 60.5px;
    border-top: 5px solid #8f1698;
    background: #180f35;
    position: absolute;
    bottom: 0;
}

.wrapper_img {
    transition: ease-in-out 0.5s;
}