* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

* i {
    cursor: pointer;
    color: #b311be;
    font-size: 35px;
}

* i:hover {
    color: #fff;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)), url("../img/bg-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
}

/* loader */

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #170c34;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1
}

.preloader img {
    height: 400px;
    width: 500px;
}

/* loader end */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #180f35;
    width: 100%;
    height: 50px;
}

.header-wrapper {
    background-color: #180f35;
    border-bottom: 5px solid #8f1698;

}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo h1 {
    color: #fff;
    font-size: 25px;
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo i {
    color: #8f1698;
    font-size: 25px;
    margin-left: 20px;
}

.search input {
    border: none;
    outline: none;
    background: none;
    border: 1px solid #b311be;
    text-align: center;
    color: #fff;
    border-left: 5px solid #b311be;
}

.search i {
    color: #8f1698;
    margin-left: 10px;
    font-size: 20px;
    margin: 0;
    transition: .2s;
}

.search_icon:hover {
    background: #b311be;
    transition: .2s;
}

.search_icon:hover i {
    color: #180f35;
    transition: .2s;
}

.search_icon {
    height: 26px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.nav-list li {
    color: #fff;
    list-style-type: none;
    font-size: 20px;
}

.nav-list i {
    font-size: 25px;
    color: #fff;
    margin-left: 15px;
    color: #8f1698;
    margin-right: 20px;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
    height: 650px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.396);
}

.resiger_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(18, 17, 17, 0.597);
    width: 500px;
    height: 500px;
}

.resiger_block input {
    outline: none;
    border: none;
    background: none;
    border-bottom: 2px solid #8f1698;
    margin: 20px 20px;
    height: 50px;
    color: #fff;
}

.resiger_block input::placeholder {
    color: rgb(219, 212, 212);
}

.resiger_block input:focus {
    color: #8f1698;
}

.status-password {
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-password input {
    width: 20px;
    height: 20px;
}

.status-password label {
    color: #fff;
}

.register-link {
    border-bottom: 2px solid #8f1698;
    padding: 20px;
}

.question-link {
    text-align: center;
    color: #fff;
}

.login-link {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;

}

.register-link {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

.register-none {
    display: none;
}


.block_hide {
    display: none;
}


/* Singer info section */
#singer_info {
    min-width: 100vw;
    min-height: 82.4vh;
    background: rgba(0, 0, 0, 0.349);
}

.singer_about {
    display: flex;
    justify-content: center;
    align-items: center;

}

.music_about {
    height: 541px;
    width: 40%;
    border-right: 5px solid #8f1698;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mp3_content {
    width: 90%;
    height: 55%;
    border-bottom: 5px solid #8f1698;
    padding: 1rem;
    position: relative;
}

.mp3_ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mp3_ct_about {
    color: #fff;
    font-family: system-ui;
    margin: 5px;
}

.mp3_ct img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.mp3_btn {
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-family: system-ui;
}

.play_btn {
    background: #190f3b;
    color: #fff;
    transition: .2s;
    border: 1px solid #fff;
}

.play_btn:hover {
    color: #b311be;
    background: #180f35;
    transition: .2s;
    border: 1px solid #8f1698;
}

.mp3_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 40px;
    width: 440px;
}

.download_btn {
    background: #b311be;
    color: #fff;
    transition: .2s;
    border: 1px solid #fff;
    position: relative;
}

.download_btn:hover {
    color: #261461;
    background: #8f1698;
    transition: .2s;
    border: 1px solid #261461;
}

.music_album {
    width: 100%;
    height: 45%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.music_list {
    height: 541px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    overflow: hidden;
    width: 80%;
    display: flex;
    align-items: center;
}


.wrapper a img {
    width: 200px;
    height: 150px;
    border: 2px solid #fff;
}

.wrapper_hover_box {
    width: 200px;
    height: 150px;
    transition: ease-in-out 0.5s;
    margin: 0 5px 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper_hv {
    background-color: #261461;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 100;
    position: absolute;
    left: 0;
    top: -200px;
    transition: .2s ease-in-out;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.wrapper_hv p,
li,
ul {
    font-family: system-ui;
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
    list-style: none;
}

.wrapper_hv i {
    color: #fff;
    font-size: 15px;
    margin: 0;
}

.wrapper_hover_box:hover .wrapper_hv {
    top: 0px;
    transition: .3s ease-out;
}

.wrapper_btn {
    position: absolute;
    top: 45%;
    left: 22px;
}

.wrapper_btn i {
    font-size: 35px;
    color: #8f1698;
    cursor: pointer;
}

.wrapper_btn i:last-child {
    position: absolute;
    right: -460px;
}



.music_list_ul {
    width: 95%;
    height: 0;
    border-bottom: 5px solid #b311be;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5px;
}

.music_list_ul ul {
    display: flex;
}

.music_list_ul ul li {
    margin: 0 30px;
    list-style: none;
}

.music_list_ul ul li a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
}

.user_musics {
    height: 425px;
    width: 85%;
    padding: 10px 0;
    overflow: auto;
}

.user_music_box {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #b311be;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.user_music_box:hover {
    background: rgba(0, 0, 0, 0.575);
}

.pause,
.play {
    color: #b311be;
    font-size: 35px;
    cursor: pointer;
}

.pause,
.play:hover {
    color: #fff;
}

.user_musics img {
    height: 45px;
    width: 45px;
}

.user_musics p {
    color: #fff;
    font-family: system-ui;
    margin: 0;
}

.user_music_box a {
    text-decoration: underline;
}


/* Singer info section end */



.music_control {
    width: 100%;
    height: 60.5px;
    border-top: 5px solid #8f1698;
    background: #180f35;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* type */


#type {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 91.6vh;
    border-right: 5px solid #8f1698;
}

.song_type {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    margin-left: 20px;
}

.song_type h2 {
    display: inline-block;
    margin-top: 50px;
    font-size: 20px;
}

.song_type ul li {
    list-style: none;
}

.fa-angle-down {
    margin-left: 15px;
}

.fa-angle-down:hover {
    cursor: pointer;
}

.popular_music_list {
    display: none;
    font-size: 20px;
}

/* singer */

#singer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.singer-box {
    background-color: #180f35;
    color: #fff;
    height: 205px;
    width: 205px;
    border: 3px #fff solid;
}

.singer-box:hover:singer-box img {
    position: relative;
    top: 200%;
    transition: ease-in 0.5s;
}

.singer-box img {
    position: relative;
    /* top: 200%; */
}


.singer-box-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    top: -200%;
}

.singer-box-info ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.singer-box-info ul li {
    margin-top: 20px;
}


.ctrl_btn {
    margin: 0 30px 0 0;
}

.ctrl_btn2 {
    margin: 0 0 0 30px;
}

.colmn {
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress_container {
    width: 90%;
    height: 6px;
    background: #fff;
    cursor: pointer;
}

.progres {
    background: #b311be;
    height: 6px;
    cursor: pointer;
}


.progress_mp3_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    position: relative;
}

.progress_mp3_name p {
    color: #fff;
    margin: 5px;
    font-family: system-ui;
}

.progres {
    height: 6px;
    background: #b311be;
    cursor: pointer;
}

.artist_name {
    position: absolute;
    right: 5px;
}

.animate_text {
    position: relative;
    left: -95px;
    transition: all 0.5s ease;
    animation-name: circle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate-reverse;
}

@keyframes circle {
    from {
        left: 30px;
    }

    to {
        left: -70px;
    }
}

.ctrl_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_img {
    transition: all 0.3s linear;
}

.fa-share,
.fa-star {
    font-size: 28px;
    padding: 0;
    margin: 0;
    margin: 0 5px;
}

.mp3_sound_controll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 18px;
}

.mp3_sound_controll i {
    color: #fff;
    font-size: 20px;
    cursor: auto;
    margin: 0 10px 0 0;
}

.slider {
    -webkit-appearance: none;
    height: 3px;
    border-radius: 10px;
    width: 100px;
    background: #fff;
    outline: none;
    opacity: 0.7;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #b311be;
    cursor: pointer;
}


.container_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_music_album {
    height: 91.6vh;
    width: 83%;
    padding: 15px 1rem;
    display: flex;
    flex-wrap: wrap;
}

.artist_albums {
    height: 230px;
    width: 230px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 100px;
}

.artist_albums img {
    height: 230px;
    width: 230px;
}

.home_music_album_hv {
    background-color: #261461;
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 100;
    position: absolute;
    left: 0;
    top: -300px;
    transition: .2s ease-in-out;
    /* border: 2px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
}

.artist_albums:hover .home_music_album_hv {
    top: 0;
    transition: .3s ease-in;
}

.home_music_album_hv i {
    font-size: 20px;
    margin: 0;
    color: #fff;
    margin-top: 20px;
}

.home_music_album_hv ul li {
    margin-bottom: 15px;
}

.home_music_album_hv p {
    margin-bottom: 15px;
}

.home_music_album_link {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home_music_album_link:hover {
    color: #fff;
}



.user_musics::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.user_musics::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    cursor: pointer;
}

.user_musics::-webkit-scrollbar-thumb {
    background: rgba(230, 0, 255, 0.24);
    cursor: pointer;
}

.user_musics::-webkit-scrollbar-thumb:hover {
    background: #b311be;
    cursor: pointer;
}

.flx {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 85vw;
    height: 543px;
    background: rgba(65, 65, 65, 0.671);
    backdrop-filter: blur(5px);
}

.leftbox,
.rightbox {
    height: 100%;
    width: 100%;
}

.leftbox {
    border-right: 2px solid #b311be;
}

.rightbox {
    border-left: 2px solid #b311be;
}

.ct_box {
    padding: 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category {
    text-decoration: none;
    color: #b311be;
    background: #261461;
    padding: 10px 20px;
    margin: 0 10px;
    border-bottom: 2px solid #8f1698;
}

.category:hover {
    color: #b311be;
}

.category_active {
    background: #8f1698;
    color: #fff;
}

.category_active:hover {
    color: #fff;
}

.add_music_box {
    padding: 8rem 2rem;
    display: flex;
    justify-content: space-around;
}

.music_info {
    padding: 0;
    border: none;
    outline: none;
    border-bottom: 1px solid #b311be;
    border-left: 3px solid #000;
    background: #000;
    padding: 5px 8px;
    width: 250px;
    margin: 5px 0;
    text-align: center;
    color: #fff;
}

.music_info::placeholder {
    color: #fff;
    font-family: system-ui;
    font-size: 15px;
    text-align: start;
}

.mp3_img {
    width: 130px;
}

.music_info:focus {
    border-left: 3px solid #b311be;
}

.add_music_information label {
    margin-bottom: 10px;
}

.add_music_information {
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem 0 0;
}



.add_music_information::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.add_music_information::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    cursor: pointer;
}

.add_music_information::-webkit-scrollbar-thumb {
    background: rgba(230, 0, 255, 0.24);
    cursor: pointer;
}

.add_music_information::-webkit-scrollbar-thumb:hover {
    background: #b311be;
    cursor: pointer;
}

.add_music_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-file-audio {
    font-size: 85px;
}
.fa-file-audio:hover {
    color: #b311be;
}

.add_input {
    border: none;
    outline: none;
    border-bottom: 1px solid #b311be;
    background: none;
    padding: 5px 2px;
    color: #fff;
}