{% extends 'main.html' %}
{% block title %}
    Canbinet
{% endblock %}
{% block body %}
    <div class="cnt_box">
        <section class="flx">

            <div class="leftbox">
                <div class="ct_box">
                    <div class="category_link">
                        <a href="#" class="category">Singer</a>
                        <a href="#" class="category">Category</a>
                        <a href="#" class="category">Genre</a>
                    </div>
                </div>

                <div class="music_category"><a class="music_category_a" href="#">+</a></div>

            </div>

            <div class="rightbox">
                <div class="add_music_box">
                    <div class="add_music_input">
                        <label for="add_music">
                            <i class="fa-solid fa-file-audio"></i>
                        </label>
                        <input type="file" id="add_music" hidden required>
                    </div>

                    <div class="add_music_information">
                        <label for="add_music_img">
                            <img class="mp3_img" src="https://www.codeproject.com/KB/GDI-plus/ImageProcessing2/img.jpg"
                                 alt="">
                        </label>
                        <input type="file" id="add_music_img" hidden>
                        <input class="music_info" required type="text" placeholder="Enter title of music">
                        <input class="music_info" required type="text" placeholder="Enter artist of music">
                        <input class="music_info" required type="text" placeholder="Enter album of music">
                        <input class="music_info" required type="text" placeholder="Enter genre of music">
                        <input class="music_info" required type="text" placeholder="Enter category of music">
                        <input class="add_input" type="submit" value="Add music">
                    </div>
                </div>
            </div>

        </section>

    </div>

    <section class="add_music_category">
        <div class="border_box">
            <input type="text" placeholder="Enter new category">
            <a href="#">Add</a>
        </div>
    </section>

    <div class="music_control"></div>

{% endblock %}