{% extends 'main.html' %}
{% block title %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <div class="container_box">


        <section id="type">
            <div class="container">

                <div class="song_type">
                    <h2>Popular music</h2>
                    <i class="fa-solid fa-chevron-up"></i>
                    <ul class="popular_music_list">
                        <li>March</li>
                        <li>February</li>
                        <li>January</li>
                    </ul>
                    <h2>Genre</h2>
                    <i class="fa-solid fa-chevron-up"></i>
                    <ul class="popular_music_list">
                        <li>March</li>
                        <li>February</li>
                        <li>January</li>
                    </ul>
                    <h2>Loates music</h2>
                    <i class="fa-solid fa-chevron-up"></i>
                    <ul class="popular_music_list">
                        <li>March</li>
                        <li>February</li>
                        <li>January</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="home_music_album">

            <div class="artist_albums">
                <img src="../static/img/bg-2.jpg" alt="">
                <div class="home_music_album_hv">
                    <a class="home_music_album_link" href="singer_info.html">
                        <p>Jsper Kyd</p>

                        <ul>
                            <li>Albums: <span>1</span></li>
                            <li>Musics: <span>2</span></li>
                        </ul>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </a>

                </div>
            </div>

            <div class="artist_albums">
                <img src="../static/img/maxresdefault.jpg" alt="">
                <div class="home_music_album_hv">
                    <a class="home_music_album_link" href="singer_info.html">
                        <p>Jsper Kyd</p>

                        <ul>
                            <li>Albums: <span>1</span></li>
                            <li>Musics: <span>2</span></li>
                        </ul>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </div>
                    </a>

                </div>
            </div>


            <div class="artist_albums">
                <img src="../static/img/merc.jpg" alt="">
                <div class="home_music_album_hv">
                    <a class="home_music_album_link" href="singer_info.html">
                        <p>Jsper Kyd</p>

                        <ul>
                            <li>Albums: <span>1</span></li>
                            <li>Musics: <span>2</span></li>
                        </ul>

                        <div class="star">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                            <i class="fa-regular fa-star"></i>
                        </div>
                    </a>

                </div>
            </div>

        </section>

    </div>

    <script src="../static/base.js"></script>
    <div class="music_control"></div>
{% endblock %}