<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singer Info</title>
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>


    <section id="singer_info">
        <div class="container">
            <div class="singer_about">
                
                <!-- music about -->
                <div class="music_about">

                </div>
                <!-- music about end -->



                <!-- music list -->
                <div class="music_list">

                </div>
                <!-- music list end -->

            </div>
        </div>
    </section>

    <!-- music control -->
    <div class="music_control">

    </div>
    <!-- music control end -->


    <script src="../static/base.js"></script>
</body>

</html>