<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Singer Info</title>
    <link rel="shortcut icon" href="../static/img/favicon2.png" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Style -->
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>

    <div class="preloader">
        <img src="../static/img/load/load.gif" alt="">
    </div>

    <div class="header-wrapper">
        <header class="header container">
            <div class="logo">
                <h1 class="logog-header">Music Word </h1>
                <i class="fa-solid fa-music"></i>
            </div>

            <div class="search">
                <input type="text" placeholder="Search musics">
                <!-- search icon  -->
                <div class="search_icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

            </div>

            <nav class="nav">
                <ul class="nav-list">
                    <li>favaurte</li>
                    <i class="fa fa-star"></i>
                    <li><a href="#" style="color: #fff;" class="login">Login</a></li>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </ul>
            </nav>
        </header>

    </div>


    <section id="singer_info">
        <div class="singer_about">

            <!-- music about -->
            <div class="music_about">

                <div class="mp3_content">
                    <div class="mp3_ct">
                        <div>
                            <p class="mp3_ct_about">Jsper Kyd</p>
                            <p class="mp3_ct_about">Ezio's fomily</p>
                            <p class="mp3_ct_about">2022-05-22</p>
                        </div>
                        <img src="../static/img/merc.jpg" alt="">
                    </div>

                    <div class="mp3_buttons">
                        <a class="play_btn mp3_btn" href="#">Play Online</a>
                        <a class="download_btn mp3_btn" href="#">Download</a>
                    </div>
                </div>

                <div class="music_album">
                    <div class="wrapper">

                        <div class="wrapper_hover_box">
                            <a class="wrapper_img" href="#"><img src="../static/img/merc.jpg" alt=""></a>
                            <div class="wrapper_hv">

                                <a class="home_music_album_link" href="#">
                                    <p>Jsper Kyd: <span>Ezio's fomily</span></p>

                                    <ul>
                                        <li>Albums: <span>1</span></li>
                                        <li>Musics: <span>2</span></li>
                                    </ul>

                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="wrapper_hover_box">
                            <a class="wrapper_img" href="#"><img src="../static/img/bg-1.jpg" alt=""></a>

                            <div class="wrapper_hv">

                                <a href="#" class="home_music_album_link">
                                    <p>Jsper Kyd: <span>Ezio's fomily</span></p>

                                    <ul>
                                        <li>Albums: <span>1</span></li>
                                        <li>Musics: <span>2</span></li>
                                    </ul>

                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="wrapper_hover_box">
                            <a class="wrapper_img" href="#"><img src="../static/img/bg-3.jpg" alt=""></a>
                            <div class="wrapper_hv">

                                <a class="home_music_album_link" href="#">
                                    <p>Jsper Kyd: <span>Ezio's fomily</span></p>

                                    <ul>
                                        <li>Albums: <span>1</span></li>
                                        <li>Musics: <span>2</span></li>
                                    </ul>

                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </a>

                            </div>
                        </div>

                        <div class="wrapper_hover_box">
                            <a class="wrapper_img" href="#"><img src="../static/img/bg-4.jpg" alt=""></a>
                            <div class="wrapper_hv">

                                <a class="home_music_album_link" href="#">
                                    <p>Jsper Kyd: <span>Ezio's fomily</span></p>

                                    <ul>
                                        <li>Albums: <span>1</span></li>
                                        <li>Musics: <span>2</span></li>
                                    </ul>

                                    <div class="star">
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="wrapper_btn">
                        <i class="fa-solid leftBtn fa-circle-chevron-left"></i>
                        <i class="fa-solid rightBtn fa-circle-chevron-right"></i>
                    </div>

                </div>

            </div>
            <!-- music about end -->

            <!-- music list -->
            <div class="music_list">


                <div class="music_list_ul">
                    <ul>
                        <li><a href="#">New Musics</a></li>
                        <li><a href="">Popular Musics</a></li>
                        <li><a href="">Lorem</a></li>
                        <li><a href="">Ipsum</a></li>
                    </ul>
                </div>

                <div class="user_musics">
                    <audio src="" hidden class="main-music"></audio>
                    <div class="user_music_box">
                        <!-- <i class="fa-solid pause fa-circle-pause"></i> -->
                        <i class="fa-solid p_btn play fa-circle-play"></i>
                        <audio src="../static/audio/2.m4a" hidden></audio>
                        <img src="../static/img/merc.jpg" alt="">
                        <div class="mp3_name">
                            <a href="#">Jsper Kyd</a>
                            <p>Ezio's fomily</p>
                        </div>
                        <p class="mp3_time">03:43</p>
                        <p class="mp3_graphic">320.0 kb/s</p>
                    </div>
                    <div class="user_music_box">
                        <!-- <i class="fa-solid pause fa-circle-pause"></i> -->
                        <i class="fa-solid p_btn play fa-circle-play"></i>
                        <audio src="../static/audio/5.mp3" hidden></audio>
                        <img src="../static/img/bg-3.jpg" alt="">
                        <div class="mp3_name">
                            <a href="#">Jsper Kyd</a>
                            <p>Ezio's fomily</p>
                        </div>
                        <p class="mp3_time">03:43</p>
                        <p class="mp3_graphic">320.0 kb/s</p>
                    </div>
                    <div class="user_music_box">
                        <!-- <i class="fa-solid pause fa-circle-pause"></i> -->
                        <i class="fa-solid p_btn play fa-circle-play"></i>
                        <audio src="../static/audio/4.mp3" hidden></audio>
                        <img src="../static/img/bg-2.jpg" alt="">
                        <div class="mp3_name">
                            <a href="#">Jsper Kyd</a>
                            <p>Ezio's fomily</p>
                        </div>
                        <p class="mp3_time">03:43</p>
                        <p class="mp3_graphic">320.0 kb/s</p>
                    </div>

                </div>

            </div>
            <!-- music list end -->

        </div>
    </section>

    <!-- music control -->
    <div class="music_control">
        <div class="control_btn">
            <i class="fa-solid ctrl_btn fa-circle-chevron-left" id="prev"></i>
            <i class="fa-solid p_btn fa-circle-play" id="pause"></i>
            <i class="fa-solid ctrl_btn2 fa-circle-chevron-right" id="next"></i>
        </div>

        <div class="colmn">
            <div class="progress_mp3_name">
                <p class="animate_text">Jsper Kyd: Ezio's fomily</p>
                <p class="artist_name">03:42</p>
            </div>
            <div class="progress_container">
                <div class="progres">

                </div>
            </div>
        </div>

        <div class="ctrl_buttons">
            <i class="fa-solid fa-share"></i>
            <i class="fa-solid fa-star"></i>

            <div class="mp3_sound_controll">
                <i class="fa-solid fa-volume-high"></i>
                <input type="range" min="1" max="100" value="20" class="slider">
            </div>

        </div>

    </div>
    <!-- music control end -->


    <script src="../static/base.js"></script>
</body>

</html>